extends ./layouts/common.pug

block content     
    h1 Hello CodersX
      br
      a(href="/books") 
        button(class="btn btn-primary mb-2 mt-2") Books
      br
      a(href="/users") 
        button(class="btn btn-primary mb-2") Users
      br
      a(href="/transactions") 
        button(class="btn btn-primary mb-2") Transactions
          
      